# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.egg

# Env
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker volumes
data/

# pytest
.pytest_cache/
htmlcov/
.coverage

# Alembic
*.pyc

# Python virtualenv
.venv/

# Celery beat runtime state
celerybeat-schedule
celerybeat-schedule.*
